/* Overlay */
.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 1000;
}

.modal_opened {
  visibility: visible;
}

/* Modal card */
.modal__content {
  background-color: #ffffff;
  width: 100%;
  max-width: 496px;
  padding: 32px 28px 36px;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
}

/* Title */
.modal__title {
  margin: 0 0 24px;
  font-size: 20px;
  font-weight: 700;
}

/* Close button */
.modal__close {
  position: absolute;
  top: 8px;
  right: 24px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  width: 92px;
  height: 20px;
  left: 420px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 6px 0;
  margin-bottom: 24px;
  width: 100%;
  margin-right: 500px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  margin: 0 0 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__submit {
  width: 124px;
  height: 36px;
  margin-left: 28px;
  margin-right: 344px;
  margin-bottom: 36px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;

  font-size: 14px;
  font-weight: 500;
  opacity: 1;
  cursor: pointer;
}
