.card {
  width: 323px;
  position: relative;
  display: flex;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  left: 129px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  border-radius: 16px;
  box-sizing: border-box;
  border: 1.5px solid #e6e6e6;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.card__image {
  width: 100%;
  cursor: pointer;
  border-radius: 16px;
  box-sizing: border-box;
  height: 323px;
  object-fit: cover;
}
