.card {
  width: 323px;
  position: relative;
  display: flex;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  left: 129px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  color: white;
  border: none;
}

.card__image {
  width: 100%;
  cursor: pointer;
  border-radius: 16px;
  box-sizing: border-box;
  height: 323px;
  object-fit: cover;
}

.card__like-btn {
  border: none;
  position: relative;
  left: -40px;
  top: 138px;
  background: none;
}
