.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  width: 160px;
  height: 24px;
  position: relative;
  top: 8px;
  left: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  font-family: Cabinet Grotesk;
  font-weight: 700;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  cursor: pointer;
  position: relative;
  top: 3px;
  left: 34px;
  list-style-type: none;
  border-style: none;
  height: 24px;
  font-weight: 700;
  font-family: Cabinet Grotesk;
  color: rgba(0, 0, 0, 1);
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-weight: 700;
  font-family: Cabinet Grotesk;
  width: 157px;
  height: 25px;
  line-height: 100%;
  position: relative;
  top: 8px;
  left: 25px;
}

.header__nav-link {
  color: black;
  text-decoration: none;
}
