.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;

  border: none;
  background: transparent url("../../assets/day/close.svg") center no-repeat;
  background-size: contain;

  cursor: pointer;
  padding: 0;
}

.modal__close-icon {
  width: 24px;
  height: 24px;
  background: url("../../assets/day/close.svg");
}

.modal__caption {
  display: flex;
  margin: auto;
  gap: 20px;
  font-family: Cabinet Grotesk;
  position: absolute;
  left: 225px;
  top: 35px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 29px;
  height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.modal__image {
  max-width: 430px;
  position: relative;
  border-radius: 16px;
  box-sizing: border-box;
}
