.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;

  border: none;
  background: transparent url("../../assets/day/close.svg") center no-repeat;
  background-size: contain;

  cursor: pointer;
  padding: 0;
}

.modal__close-icon {
  width: 24px;
  height: 24px;
  background: url("../../assets/day/close.svg");
}

.modal__caption {
  display: flex;
  margin: auto;
  gap: 20px;
  font-family: Cabinet Grotesk;
}
