.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;

  border: none;
  background: transparent url("../../assets/day/close.svg") center no-repeat;
  background-size: contain;

  cursor: pointer;
  padding: 0;
}

.modal__close-icon {
  width: 24px;
  height: 24px;
  background: url("../../assets/day/close.svg");
}

.modal__caption {
  left: 10px;
  position: relative;
  top: 25px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
}

.modal__image {
  max-width: 430px;
  position: relative;
  border-radius: 16px;
  box-sizing: border-box;
}

.modal__delete {
  border: none;
  position: relative;
  top: -35px;
  left: 335px;
  color: rgba(255, 77, 0, 1);
  font-family: Cabinet Grotesk;
  font-weight: 700;
  background: none;
}

.modal__weather {
  left: 10px;
  position: relative;
  top: 18px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
}

.modal__content_type_image {
  overflow: hidden;
}
