.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
  font-size: 14px;
  color: #000;
}

.footer__copyright {
  margin: 0;
}

.footer__author {
  margin: 0;
}
