.clothes-section__row {
  display: flex;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}

.Clothes-Section {
  flex-grow: 1;
}

.clothes-section__text {
  position: relative;
  top: 2px;
  left: 3px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.clothes-section__button {
  border: none;
  position: relative;
  top: 2px;
  left: 20px;
  gap: 20px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  background: none;
}
